.upper2{
    display: flex;
    flex-direction: row;
    background-color: black;
    justify-content: space-around;
    padding: 20px;
}
.sidediv{
    max-width: 380px;
}
.links{

    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}